<!--
  Archived from blockbase (post id 7551)
  type: wp_template
  slug: page
  area: 
  size: 393 bytes
  Exported during the courtneyr-child build, April 27 2026.
-->

<!-- wp:template-part {"slug":"header","theme":"blockbase","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"65%"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"page","theme":"blockbase"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"blockbase","tagName":"footer","className":"site-footer-container"} /-->