<!--
  Archived from blockbase (post id 7640)
  type: wp_template
  slug: index
  area: 
  size: 2624 bytes
  Exported during the courtneyr-child build, April 27 2026.
-->

<!-- wp:template-part {"slug":"header","theme":"blockbase","tagName":"header"} /-->

<!-- wp:query {"queryId":3,"query":{"perPage":4,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"tagName":"main","displayLayout":{"type":"list"},"layout":{"inherit":true,"contentSize":"65%"}} -->
<main class="wp-block-query"><!-- wp:post-template {"align":"wide"} -->
<!-- wp:group {"style":{"border":{"radius":"0.5rem","style":"solid","width":"0.2rem"},"spacing":{"padding":{"top":"0rem","right":"1rem","bottom":"0rem","left":"1rem"}}},"borderColor":"primary"} -->
<div class="wp-block-group has-border-color has-primary-border-color" style="border-style:solid;border-width:0.2rem;border-radius:0.5rem;padding-top:0rem;padding-right:1rem;padding-bottom:0rem;padding-left:1rem"><!-- wp:post-featured-image {"isLink":true} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"3rem","textTransform":"capitalize"}}} /-->

<!-- wp:group {"className":"post-meta","layout":{"type":"flex"},"noBottomMargin":true,"noTopMargin":true} -->
<div class="wp-block-group post-meta mb-0 mt-0"><!-- wp:post-date {"isLink":true,"style":{"typography":{"fontSize":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dfont-sizes\u002d\u002dx-small)"}},"className":"is-style-post-date-icon"} /-->

<!-- wp:post-terms {"term":"category","style":{"typography":{"fontSize":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dfont-sizes\u002d\u002dx-small)"}},"className":"is-style-post-category-icon"} /-->

<!-- wp:post-terms {"term":"post_tag","style":{"typography":{"fontSize":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dfont-sizes\u002d\u002dx-small)"}},"className":"is-style-post-tag-icon"} /-->

<!-- wp:post-terms {"term":"post_format","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"moreText":"Read more"} /-->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query-pagination -->
<!-- wp:query-pagination-previous {"label":"≪ Previous"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"label":"Next ≫"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group --></main>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","theme":"blockbase","tagName":"footer","className":"site-footer-container"} /-->