<!--
  Archived from blockbase (post id 8456)
  type: wp_template
  slug: taxonomy-post_format
  area: 
  size: 1315 bytes
  Exported during the courtneyr-child build, April 27 2026.
-->

<!-- wp:template-part {"slug":"header","theme":"blockbase","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"65%"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":23,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:columns {"verticalAlignment":"center"} -->
<div class="wp-block-columns are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:25%"><!-- wp:post-featured-image {"isLink":true} /-->

<!-- wp:post-terms {"term":"post_format","fontSize":"small"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"75%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:75%"><!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-excerpt {"moreText":"Read More"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"blockbase","tagName":"footer","className":"site-footer-container"} /-->