<!-- wp:group {"className":"is-position-sticky","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-position-sticky">
<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Page"},"align":"full","className":"cr-page","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|xx-large"},"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|large"}},"backgroundColor":"main-accent","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull cr-page has-main-accent-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--xx-large)">

	<!-- wp:group {"metadata":{"name":"Page Header"},"align":"wide","className":"cr-page__header","style":{"spacing":{"blockGap":"var:preset|spacing|small","padding":{"bottom":"var:preset|spacing|large"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide cr-page__header" style="padding-bottom:var(--wp--preset--spacing--large)">

		<!-- wp:post-title {"level":1,"className":"cr-flank cr-flank--blue cr-page__title","style":{"typography":{"letterSpacing":"-1px","lineHeight":"1.05"}},"fontFamily":"accent"} /-->

		<!-- wp:separator {"className":"is-style-cr-marker-bar-short"} -->
		<hr class="wp-block-separator has-alpha-channel-opacity is-style-cr-marker-bar-short"/>
		<!-- /wp:separator -->

	</div>
	<!-- /wp:group -->

	<!-- wp:post-featured-image {"align":"wide","className":"cr-page__featured","style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|x-large"}}}} /-->

	<!-- wp:post-content {"align":"","className":"cr-page__content","layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
